form {
	margin-bottom: 0.5em;
}

code {
	background-color: #EEE;
}

input[type=text],
input[type=password] {
	width: 350px;
}

input[type=number] {
	width: 100px;
}

.error {
	font-weight: bold;
	color: #F00;
}

.footer {
	font-style: italic;
	text-align: right;
	color: #888;
}

summary {
	font-size: large;
	font-weight: bold;
	cursor: pointer;
}